{% if all_transactions_list %}
    <ul>
    {% for trans in all_transactions_list %}
        <li>
            <a href="/transactions/{{ trans.id }}/">{{ trans.description }}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No transactions are available.</p>
{% endif %}