/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body,html{
    width: 100%;
    height:100%;
}
body{
	background: url('../img/bg.jpg');
    background-size: 50% cover;
    background-repeat: no-repeat;
    font-family: Arial;
    color:#262626;
}
.loginWrapper{
    background: rgba(0,0,0,0.7);
    height: 100%;
    width: 100%;
}
.loginContainer{
	position: absolute;
	max-width: 400px;
	height: 390px;
	background: rgba(255,255,255,0.7);
	margin: auto;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
    border:1px solid #5a5a5a;
}
.loginTitle{
/*    background: #fff;*/
    width: 100%;
    text-align: center;
    padding:40px 0px 40px 0px;
    border-bottom: 1px solid #d1d1d1;
}
.loginTitle h1{
    font-size: 40px;
    color:#fff;
    text-shadow:-1px -1px 1px #989898;
}
.loginInput{
    display: block;
    background: #fff;
    width: 100%;
    margin:auto;
    border:none;
    margin-top: 15px;
    padding: 23px 0px 23px 0px;
    font-size: 20px;
    
}

.loginButton{
    display: block;
    background: #1965be;
    width: 100%;
    margin:auto;
    border:none;
    margin-top: 15px;
    padding: 23px;
    font-size: 20px;
    color:#fff;
    text-shadow:-1px -1px 1px #262626;
    transition: all 0.5s;
}
.loginButton:hover{
    background: #0075ff;
}
::-webkit-input-placeholder {
    display:block;
    padding-left:23px;
    font-weight:normal;
    color:#c7c7c7;
    text-shadow:-1px -1px 1px #fff;
}

:-moz-placeholder { /* Firefox 18- */
    display:block;
    padding-left:23px;
    font-weight:normal;
    color:#c7c7c7;
    text-shadow:-1px -1px 1px #fff;
}

::-moz-placeholder {  /* Firefox 19+ */
    display:block;
    padding-left:23px;
    font-weight:normal;
    color:#c7c7c7;
    text-shadow:-1px -1px 1px #fff;
}

:-ms-input-placeholder {  
    display:block;
    padding-left:23px;
    font-weight:normal;
    color:#c7c7c7;
    text-shadow:-1px -1px 1px #fff;
}